Source: openport
Maintainer: Jan De Bleser <info@openport.io>
Section: misc
Priority: optional
Standards-Version: ??
Build-Depends: dh-make

Package: openport
Architecture: any
Depends:
Description: Opens a port from your machine to the outside world.
