
/www/local_settings.py
/scripts/client/dist/
/scripts/client/build/
/scripts/client/tests/testfiles/tmp/*
/scripts/client/openport.db
/scripts/client/openport.spec
/scripts/client/ghostdriver.log
/scripts/openport.db
/scripts/client/nsis/OpenPort-It.exe
/external/twitter-bootstrap-v1.4.0-58-g5217131.zip
/www/env/*
/scripts/client/.idea/workspace.xml
/scripts/client/nsis/*.exe
sass_stdlib.xml
/scripts/.idea/*.iml
/scripts/.idea/scopes/*.xml
/scripts/.idea/inspectionProfiles/*.xml
/openport.log

/scripts/client/tests/test-reports/*.xml

/scripts/client/env/*
/scripts/package/*

**/.idea/*
*~
