
/www/local_settings.py
/scripts/client/dist/
/scripts/client/build/
/scripts/client/tests/testfiles/tmp/*
/scripts/client/openport.db
/scripts/client/openport.spec
/scripts/client/ghostdriver.log
/scripts/openport.db
/scripts/client/nsis/OpenPort-It.exe
/external/twitter-bootstrap-v1.4.0-58-g5217131.zip
/www/env/*
/scripts/client/.idea/workspace.xml
/scripts/client/nsis/*.exe
sass_stdlib.xml
/scripts/.idea/*.iml
/scripts/.idea/scopes/*.xml
/scripts/.idea/inspectionProfiles/*.xml
/openport.log

/scripts/client/tests/test-reports/*.xml

/scripts/client/env/*
/scripts/package/*

**/.idea/*
*~
scripts/mac/iceberg/Openport/build/Openport-0.9.0.pkg
.idea
scripts/client/nosetests.xml
scripts/client/openport_app.spec
scripts/client/openportmanager.spec
scripts/client/test-reports
ghostdriver.log
scripts/mac/build
