*.pyc
/www/local_settings.py
/scripts/openport/dist/
/scripts/openport/build/
/scripts/openport/tests/testfiles/tmp/*
/scripts/openport/openport.db
/scripts/openport/ghostdriver.log
/scripts/openport.db
/scripts/openport/nsis/OpenPort-It.exe
/external/twitter-bootstrap-v1.4.0-58-g5217131.zip
/www/env/*
/scripts/openport/.idea/workspace.xml
/scripts/openport/nsis/*.exe
sass_stdlib.xml
/scripts/.idea/*.iml
/scripts/.idea/scopes/*.xml
/scripts/.idea/inspectionProfiles/*.xml
/openport.log

/scripts/openport/tests/test-reports/*.xml

/scripts/openport/env/*
/scripts/package/*

**/.idea/*
*~
scripts/mac/iceberg/Openport/build/Openport-0.9.0.pkg
.idea
scripts/openport/nosetests.xml
scripts/openport/openportmanager.spec
scripts/openport/test-reports
ghostdriver.log
scripts/mac/build
scripts/distribution/debian/debian_openport-gui/source/include-binaries
scripts/distribution/debian/debian_openport/source/include-binaries

scripts/distribution/mac/local_settings.sh

scripts/distribution/redhat/BUILD/*
scripts/distribution/redhat/RPMS/*
scripts/distribution/redhat/SOURCES/*
scripts/distribution/redhat/SRPMS/*
scripts/distribution/redhat/BUILDROOT/*
openport/tests/testfiles/tmp/*