
# Fix the "'openssl/aes.h': No such file or directory" error:
# in bash:
# LIB=C:/OPenSSL-win32/lib
# INCLUDE=C:/OPenSSL-win32/include
setuptools==19.2
pycrypto
cryptography
ecdsa
paramiko==1.17  # to avoid "Multibackend cannot be initialized with no backends" error
#wxPython
unittest-xml-reporting
pyopenssl
ext_http_server
#pysqlite
#python-daemon
argparse
bottle
cherrypy
#pyinstaller
#git+https://github.com/pyinstaller/pyinstaller.git@develop
git+https://github.com/gholzmann/pyinstaller/@7be200b5a6f179f6753ca5a51713f19103f23393
#pyinstaller
sqlalchemy
alembic==0.7.6
psutil
lockfile
pyperclip
#http://sourceforge.net/projects/py2exe/files/latest/download?source=files

# For the error 'no module named wsgiserver2':
# cd scripts/client/env/lib/python2.7/site-packages/cherrypy/wsgiserver
# wget https://bitbucket.org/cherrypy/cherrypy/raw/9c2d91cac2e84f166d75f748a836ffe8f244c56c/cherrypy/wsgiserver/wsgiserver2.py

requests==2.9.1
ndg-httpsclient

 
